.logo {
   float: left;
   width: 120px;
   height: 31px;
   margin: 16px 24px 16px 0;
   background: rgba(255, 255, 255, 0.5);
}

.site-layout-background {
   padding: 24px;
   margin: 0;
   min-height: calc(100vh - 64px);
}

.site-layout-sidebar {
   background: #fff;
}

.ant-layout {
   background: rgba(196, 196, 196, 0.2);
}