@import 'src/style/mixins';

.wrapper {
   display: flex;
   border: 3px solid rgba(86, 86, 86, 0.5);
   padding: 20px;
   margin-top: 20px;
   border-radius: 4px;
   min-height: calc(100vh - 297px);

   .col {
      display: flex;
      flex-direction: column;
      width: 25%;

      .chart {
         display: flex;
         justify-content: center;
         flex-direction: column;
         border: 3px solid rgba(86, 86, 86, 0.5);
         border-radius: 4px;
         padding: 20px;
         height: 100%;
      }

      .btn, .form {
         @include wrapper;
         margin-top: 20px;
         background: #e1e1e1;
      }

      .form {
         padding-bottom: 0;
      }

      .btn {
         flex-direction: row;
         justify-content: space-evenly;
         border: 3px solid rgba(86, 86, 86, 0.5);

         &Container {
            display: flex;
            justify-content: space-between;
            width: 125px;
         }
      }
   }

   .table {
      border: 3px solid rgba(86, 86, 86, 0.5);
      width: 75%;
      margin-left: 20px;
      border-radius: 4px;
   }
}


